.w-checkbox {
  display: block;
  margin-bottom: 5px;
  padding-left: 20px;
}

.w-checkbox::before {
  content: ' ';
  display: table;
  -ms-grid-column-span: 1;
  grid-column-end: 2;
  -ms-grid-column: 1;
  grid-column-start: 1;
  -ms-grid-row-span: 1;
  grid-row-end: 2;
  -ms-grid-row: 1;
  grid-row-start: 1;
}

.w-checkbox::after {
  content: ' ';
  display: table;
  -ms-grid-column-span: 1;
  grid-column-end: 2;
  -ms-grid-column: 1;
  grid-column-start: 1;
  -ms-grid-row-span: 1;
  grid-row-end: 2;
  -ms-grid-row: 1;
  grid-row-start: 1;
  clear: both;
}

.w-checkbox-input {
  float: left;
  margin-bottom: 0px;
  margin-left: -20px;
  margin-right: 0px;
  margin-top: 4px;
  line-height: normal;
}

.w-checkbox-input--inputType-custom {
  border-top-width: 1px;
  border-bottom-width: 1px;
  border-left-width: 1px;
  border-right-width: 1px;
  border-top-color: #ccc;
  border-bottom-color: #ccc;
  border-left-color: #ccc;
  border-right-color: #ccc;
  border-top-style: solid;
  border-bottom-style: solid;
  border-left-style: solid;
  border-right-style: solid;
  width: 12px;
  height: 12px;
  border-bottom-left-radius: 2px;
  border-bottom-right-radius: 2px;
  border-top-left-radius: 2px;
  border-top-right-radius: 2px;
}

.w-checkbox-input--inputType-custom.w--redirected-checked {
  background-color: #3898ec;
  border-top-color: #3898ec;
  border-bottom-color: #3898ec;
  border-left-color: #3898ec;
  border-right-color: #3898ec;
  background-image: url('https://d3e54v103j8qbb.cloudfront.net/static/custom-checkbox-checkmark.589d534424.svg');
  background-position: 50% 50%;
  background-size: cover;
  background-repeat: no-repeat;
}

.w-checkbox-input--inputType-custom.w--redirected-focus {
  box-shadow: 0px 0px 3px 1px #3898ec;
}

.w-form-formradioinput--inputType-custom {
  border-top-width: 1px;
  border-bottom-width: 1px;
  border-left-width: 1px;
  border-right-width: 1px;
  border-top-color: #ccc;
  border-bottom-color: #ccc;
  border-left-color: #ccc;
  border-right-color: #ccc;
  border-top-style: solid;
  border-bottom-style: solid;
  border-left-style: solid;
  border-right-style: solid;
  width: 12px;
  height: 12px;
  border-bottom-left-radius: 50%;
  border-bottom-right-radius: 50%;
  border-top-left-radius: 50%;
  border-top-right-radius: 50%;
}

.w-form-formradioinput--inputType-custom.w--redirected-focus {
  box-shadow: 0px 0px 3px 1px #3898ec;
}

.w-form-formradioinput--inputType-custom.w--redirected-checked {
  border-top-width: 4px;
  border-bottom-width: 4px;
  border-left-width: 4px;
  border-right-width: 4px;
  border-top-color: #3898ec;
  border-bottom-color: #3898ec;
  border-left-color: #3898ec;
  border-right-color: #3898ec;
}

body {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  color: #333;
  font-size: 16px;
  line-height: 1.5;
  font-weight: 400;
}

h1 {
  margin-top: 0rem;
  margin-bottom: 0rem;
  font-size: 4rem;
  line-height: 1.1;
  font-weight: 700;
}

h2 {
  margin-top: 0rem;
  margin-bottom: 0rem;
  font-size: 3rem;
  line-height: 1.2;
  font-weight: 700;
}

h3 {
  margin-top: 0rem;
  margin-bottom: 0rem;
  font-size: 2rem;
  line-height: 1.2;
  font-weight: 700;
}

h4 {
  margin-top: 0rem;
  margin-bottom: 0rem;
  font-size: 1.25rem;
  line-height: 1.4;
  font-weight: 700;
}

h5 {
  margin-top: 0rem;
  margin-bottom: 0rem;
  font-size: 0.875rem;
  line-height: 1.5;
  font-weight: 700;
}

h6 {
  margin-top: 0rem;
  margin-bottom: 0rem;
  font-size: 0.75rem;
  line-height: 1.5;
  font-weight: 700;
}

p {
  margin-bottom: 0rem;
}

ul {
  margin-top: 0rem;
  margin-bottom: 0rem;
  padding-left: 1.25rem;
}

ol {
  margin-top: 0rem;
  margin-bottom: 0rem;
  padding-left: 1.25rem;
}

li {
  margin-bottom: 0.25rem;
}

img {
  display: inline-block;
  max-width: 100%;
}

label {
  margin-bottom: 0.25rem;
  font-weight: 500;
}

blockquote {
  margin-bottom: 0rem;
  padding: 0.75rem 1.25rem;
  border-left: 0.25rem solid #e2e2e2;
  font-size: 1.25rem;
  line-height: 1.5;
}

figure {
  margin-top: 2rem;
  margin-bottom: 2rem;
}

figcaption {
  margin-top: 0.25rem;
  text-align: center;
}

.form-message-success {
  padding: 1.25rem;
}

.z-2 {
  position: relative;
  z-index: 2;
}

.text-color-black {
  color: #000;
}

.fs-styleguide_row {
  display: -ms-grid;
  display: grid;
  -webkit-box-pack: start;
  -webkit-justify-content: start;
  -ms-flex-pack: start;
  justify-content: start;
  grid-auto-flow: column;
  grid-auto-columns: auto;
  grid-column-gap: 1.25rem;
  grid-row-gap: 1.25rem;
  -ms-grid-columns: auto;
  grid-template-columns: auto;
  -ms-grid-rows: auto;
  grid-template-rows: auto;
}

.fs-styleguide_row.is-for-social-icons {
  grid-column-gap: 0.75rem;
  grid-row-gap: 0.75rem;
}

.text-style-strikethrough {
  text-decoration: line-through;
}

.fs-styleguide_3-col {
  display: -ms-grid;
  display: grid;
  grid-auto-columns: 1fr;
  grid-column-gap: 1.5rem;
  grid-row-gap: 1.5rem;
  -ms-grid-columns: 1fr 1fr 1fr;
  grid-template-columns: 1fr 1fr 1fr;
  -ms-grid-rows: auto;
  grid-template-rows: auto;
}

.text-weight-semibold {
  font-weight: 600;
}

.text-weight-light {
  font-weight: 300;
}

.max-width-full {
  width: 100%;
  max-width: none;
}

.layer {
  position: absolute;
  left: 0%;
  top: 0%;
  right: 0%;
  bottom: 0%;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.show {
  display: block;
}

.fs-styleguide_color-sample {
  margin-top: 0.5rem;
  padding: 5rem;
  background-color: #f5f5f5;
}

.overflow-hidden {
  overflow: hidden;
}

.global-styles {
  position: fixed;
  left: 0%;
  top: 0%;
  right: auto;
  bottom: auto;
  display: block;
}

.icon-1x1-small {
  width: 2rem;
  height: 2rem;
}

.button {
  padding: 0.75rem 1.25rem;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  background-color: #386eec;
  color: #fff;
  font-weight: 600;
  text-align: center;
}

.heading-medium {
  font-size: 2rem;
  line-height: 1.2;
  font-weight: 700;
}

.heading-large {
  font-size: 3rem;
  line-height: 1.2;
  font-weight: 700;
}

.text-weight-bold {
  font-weight: 700;
}

.text-size-large {
  font-size: 1.5rem;
}

.icon-medium {
  height: 3rem;
}

.text-size-regular {
  font-size: 1rem;
}

.text-weight-normal {
  font-weight: 400;
}

.fs-styleguide_section {
  display: -ms-grid;
  display: grid;
  padding-top: 2rem;
  padding-bottom: 2rem;
  -webkit-box-align: start;
  -webkit-align-items: start;
  -ms-flex-align: start;
  align-items: start;
  grid-auto-columns: 1fr;
  grid-column-gap: 4rem;
  grid-row-gap: 2.5rem;
  -ms-grid-columns: 0.5fr 1fr;
  grid-template-columns: 0.5fr 1fr;
  -ms-grid-rows: auto;
  grid-template-rows: auto;
}

.text-align-center {
  text-align: center;
}

.z-1 {
  position: relative;
  z-index: 1;
}

.icon-small {
  height: 2rem;
}

.show-mobile-portrait {
  display: none;
}

.text-style-italic {
  font-style: italic;
}

.background-color-grey {
  background-color: rgba(168, 193, 216, 0.2);
}

.hide {
  display: none;
}

.fs-styleguide_section-type {
  padding: 1.25rem;
  background-color: #000;
  color: #fff;
  font-size: 1rem;
  font-weight: 600;
  text-align: center;
  letter-spacing: 1px;
  text-transform: uppercase;
}

.text-size-medium {
  font-size: 1.25rem;
}

.text-align-left {
  text-align: left;
}

.text-weight-xbold {
  font-weight: 800;
}

.text-style-link {
  text-decoration: underline;
}

.form-wrapper {
  margin-bottom: 0rem;
}

.text-style-muted {
  opacity: 0.6;
}

.text-size-small {
  font-size: 0.875rem;
}

.text-rich-text h1 {
  margin-top: 2rem;
  margin-bottom: 1.5rem;
}

.text-rich-text h2 {
  margin-top: 1.5rem;
  margin-bottom: 1rem;
}

.text-rich-text h3 {
  margin-top: 1.5rem;
  margin-bottom: 1rem;
}

.text-rich-text h4 {
  margin-top: 1.5rem;
  margin-bottom: 1rem;
}

.text-rich-text h5 {
  margin-top: 1.25rem;
  margin-bottom: 0.75rem;
}

.text-rich-text h6 {
  margin-top: 1.25rem;
  margin-bottom: 0.5rem;
}

.text-rich-text p {
  margin-bottom: 0.75rem;
}

.text-rich-text blockquote {
  margin-bottom: 0.75rem;
}

.text-rich-text ul {
  margin-bottom: 0.75rem;
}

.max-width-xlarge {
  width: 100%;
  max-width: 64rem;
}

.icon-large {
  height: 4rem;
}

.max-width-medium {
  width: 100%;
  max-width: 32rem;
}

.form-radio {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 0.5rem;
  padding-left: 0rem;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.heading-xlarge {
  font-size: 4rem;
  line-height: 1.1;
  font-weight: 700;
}

.max-width-xsmall {
  width: 100%;
  max-width: 16rem;
}

.form-input {
  min-height: 3rem;
  margin-bottom: 0.75rem;
  padding: 0.5rem 1rem;
  background-color: transparent;
}

.form-input.is-text-area {
  min-height: 8rem;
  padding-top: 0.75rem;
}

.max-width-xxsmall {
  width: 100%;
  max-width: 12rem;
}

.text-size-tiny {
  font-size: 0.75rem;
}

.icon-1x1-medium {
  width: 3rem;
  height: 3rem;
}

.form-checkbox-icon {
  width: 0.875rem;
  height: 0.875rem;
  margin: 0rem 0.5rem 0rem 0rem;
  border-radius: 0.125rem;
}

.form-checkbox-icon.w--redirected-checked {
  width: 0.875rem;
  height: 0.875rem;
  margin: 0rem 0.5rem 0rem 0rem;
  border-radius: 0.125rem;
  background-size: 90%;
}

.form-checkbox-icon.w--redirected-focus {
  width: 0.875rem;
  height: 0.875rem;
  margin: 0rem 0.5rem 0rem 0rem;
  border-radius: 0.125rem;
  box-shadow: 0 0 0.25rem 0rem #3898ec;
}

.container-large {
  width: 100%;
  max-width: 80rem;
  margin-right: auto;
  margin-left: auto;
}

.max-width-xxlarge {
  width: 100%;
  max-width: 80rem;
}

.background-color-black {
  background-color: #000;
  color: #f5f5f5;
}

.text-style-quote {
  margin-bottom: 0rem;
  padding: 0.75rem 1.25rem;
  border-left: 0.25rem solid #e2e2e2;
  font-size: 1.25rem;
  line-height: 1.5;
}

.fs-styleguide_classes {
  display: none;
}

.align-center {
  margin-right: auto;
  margin-left: auto;
}

.fs-styleguide_1-col {
  display: -ms-grid;
  display: grid;
  grid-auto-columns: 1fr;
  grid-column-gap: 1.25rem;
  grid-row-gap: 1.25rem;
  -ms-grid-columns: 1fr;
  grid-template-columns: 1fr;
  -ms-grid-rows: auto;
  grid-template-rows: auto;
}

.fs-styleguide_1-col.gap-medium {
  grid-row-gap: 2.5rem;
}

.spacing-clean {
  margin: 0rem;
  padding: 0rem;
}

.page-padding {
  padding-right: 2.5rem;
  padding-left: 2.5rem;
}

.fs-styleguide_2-col {
  display: -ms-grid;
  display: grid;
  -webkit-box-pack: start;
  -webkit-justify-content: start;
  -ms-flex-pack: start;
  justify-content: start;
  grid-auto-columns: 1fr;
  grid-column-gap: 1.25rem;
  grid-row-gap: 1.25rem;
  -ms-grid-columns: auto auto;
  grid-template-columns: auto auto;
  -ms-grid-rows: auto;
  grid-template-rows: auto;
}

.text-align-right {
  text-align: right;
}

.show-tablet {
  display: none;
}

.max-width-large {
  width: 100%;
  max-width: 48rem;
}

.text-color-grey {
  color: grey;
}

.form-radio-icon {
  width: 0.875rem;
  height: 0.875rem;
  margin-top: 0rem;
  margin-right: 0.5rem;
  margin-left: 0rem;
}

.form-radio-icon.w--redirected-checked {
  width: 0.875rem;
  height: 0.875rem;
  border-width: 0.25rem;
}

.form-radio-icon.w--redirected-focus {
  width: 0.875rem;
  height: 0.875rem;
  box-shadow: 0 0 0.25rem 0rem #3898ec;
}

.show-mobile-landscape {
  display: none;
}

.background-color-white {
  background-color: #fff;
}

.max-width-small {
  width: 100%;
  max-width: 20rem;
}

.icon-1x1-large {
  width: 4rem;
  height: 4rem;
}

.form-checkbox {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 0.5rem;
  padding-left: 0rem;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.form-message-error {
  margin-top: 0.75rem;
  padding: 0.75rem;
}

.utility_component {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 100vw;
  height: 100vh;
  max-height: 100%;
  max-width: 100%;
  padding-right: 1.25rem;
  padding-left: 1.25rem;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.utility_form-block {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  max-width: 20rem;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  text-align: center;
}

.utility_form {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: stretch;
  -webkit-align-items: stretch;
  -ms-flex-align: stretch;
  align-items: stretch;
}

.utility_image {
  margin-right: auto;
  margin-bottom: 0.5rem;
  margin-left: auto;
}

.container-medium {
  width: 100%;
  max-width: 64rem;
  margin-right: auto;
  margin-left: auto;
}

.container-small {
  width: 100%;
  max-width: 48rem;
  margin-right: auto;
  margin-left: auto;
}

.button-secondary {
  padding: 0.75rem 1.25rem;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  border: 0.125rem solid #386eec;
  background-color: transparent;
  color: #386eec;
  font-weight: 600;
  text-align: center;
}

.button-text {
  padding: 0.75rem 1.25rem;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  background-color: transparent;
  color: #386eec;
  font-weight: 600;
  text-align: center;
}

.margin-tiny {
  margin: 0.125rem;
}

.margin-xxsmall {
  margin: 0.25rem;
}

.margin-xsmall {
  margin: 0.5rem;
}

.margin-small {
  margin: 1rem;
}

.margin-medium {
  margin: 2rem;
}

.margin-large {
  margin: 3rem;
}

.margin-xlarge {
  margin: 4rem;
}

.margin-xxlarge {
  margin: 5rem;
}

.margin-huge {
  margin: 6rem;
}

.margin-xhuge {
  margin: 8rem;
}

.margin-xxhuge {
  margin: 12rem;
}

.margin-0 {
  margin: 0rem;
}

.padding-0 {
  padding: 0rem;
}

.padding-tiny {
  padding: 0.125rem;
}

.padding-xxsmall {
  padding: 0.25rem;
}

.padding-xsmall {
  padding: 0.5rem;
}

.padding-small {
  padding: 1rem;
}

.padding-medium {
  padding: 2rem;
}

.padding-large {
  padding: 3rem;
}

.padding-xlarge {
  padding: 4rem;
}

.padding-xxlarge {
  padding: 5rem;
}

.padding-huge {
  padding: 6rem;
}

.padding-xhuge {
  padding: 8rem;
}

.padding-xxhuge {
  padding: 12rem;
}

.text-style-allcaps {
  text-transform: uppercase;
}

.margin-top {
  margin-right: 0rem;
  margin-bottom: 0rem;
  margin-left: 0rem;
}

.margin-bottom {
  margin-top: 0rem;
  margin-right: 0rem;
  margin-left: 0rem;
}

.margin-left {
  margin-top: 0rem;
  margin-right: 0rem;
  margin-bottom: 0rem;
}

.margin-right {
  margin-top: 0rem;
  margin-bottom: 0rem;
  margin-left: 0rem;
}

.margin-vertical {
  margin-right: 0rem;
  margin-left: 0rem;
}

.margin-horizontal {
  margin-top: 0rem;
  margin-bottom: 0rem;
}

.padding-top {
  padding-right: 0rem;
  padding-bottom: 0rem;
  padding-left: 0rem;
}

.padding-bottom {
  padding-top: 0rem;
  padding-right: 0rem;
  padding-left: 0rem;
}

.padding-left {
  padding-top: 0rem;
  padding-right: 0rem;
  padding-bottom: 0rem;
}

.padding-right {
  padding-top: 0rem;
  padding-bottom: 0rem;
  padding-left: 0rem;
}

.padding-vertical {
  padding-right: 0rem;
  padding-left: 0rem;
}

.padding-horizontal {
  padding-top: 0rem;
  padding-bottom: 0rem;
}

.overflow-scroll {
  overflow: scroll;
}

.overflow-auto {
  overflow: auto;
}

.fs-styleguide_background-spacer {
  height: 5rem;
}

.text-style-nowrap {
  white-space: nowrap;
}

.heading-small {
  font-size: 1.25rem;
  line-height: 1.4;
  font-weight: 700;
}

.heading-xsmall {
  font-size: 0.875rem;
  line-height: 1.5;
  font-weight: 700;
}

.text-weight-medium {
  font-weight: 500;
}

.fs-styleguide_version-details {
  z-index: 5;
  font-weight: 500;
  letter-spacing: 1px;
  text-transform: uppercase;
}

.fs-styleguide_page-header {
  margin-bottom: 2rem;
  padding-top: 5rem;
  padding-bottom: 5rem;
  border-bottom: 2px solid #e6e6e6;
}

.qr-code_card-outer {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  height: 100vh;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  background-color: #d6e2f0;
}

.qr-code_card-inner {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  padding-bottom: 2.5rem;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  border-radius: 1rem;
  background-color: #fff;
  box-shadow: 0 0 40px -11px #7b879d;
}

.qr-code_card-img-wrap {
  margin-top: 0.8rem;
  margin-right: 0.8rem;
  margin-left: 0.8rem;
}

.qr-code_img {
  width: 17rem;
  border-radius: 1rem;
}

.qr-code_h2 {
  font-family: Outfit, sans-serif;
  font-size: 1.25rem;
  font-weight: 700;
  text-align: center;
}

.qr-code_p {
  font-family: Outfit, sans-serif;
  color: #7b879d;
  font-size: 0.85rem;
  font-weight: 400;
  text-align: center;
}

.navigation {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  max-width: 1440px;
  min-height: 5rem;
  margin-right: auto;
  margin-left: auto;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.intro-section_nav-left-wrap {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-left: 2rem;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.intro-section_nav-right-wrap {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 15rem;
  -webkit-justify-content: space-around;
  -ms-flex-pack: distribute;
  justify-content: space-around;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.intro-section_nav-logo-wrap {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.intro-section_nav-links-wrap {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 28rem;
  margin-left: 2rem;
  -webkit-justify-content: space-around;
  -ms-flex-pack: distribute;
  justify-content: space-around;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  grid-column-gap: 0rem;
}

.intro-section_nav-link {
  -webkit-transition: color 200ms ease;
  transition: color 200ms ease;
  color: #696969;
  font-weight: 500;
}

.intro-section_nav-link:hover {
  color: #141414;
}

.intro-section_nav-link.is-cta {
  margin-left: 2rem;
  padding: 5px 19px 6px;
  border-style: solid;
  border-width: 0.08rem;
  border-color: #696969;
  border-radius: 0.6rem;
}

.intro-section_nav-link.is-cta:hover {
  border-color: #141414;
}

.intro-section_header-wrap {
  height: 100%;
}

.intro-section_header-grid {
  display: -ms-grid;
  display: grid;
  width: 100%;
  max-width: 85%;
  margin-top: 4rem;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  grid-auto-columns: 1fr;
  grid-column-gap: 16px;
  grid-row-gap: 16px;
  -ms-grid-columns: 1.3fr 1fr;
  grid-template-columns: 1.3fr 1fr;
  -ms-grid-rows: auto;
  grid-template-rows: auto;
}

.intro-section_header-content-left {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.intro-section_client-grid {
  display: -ms-grid;
  display: grid;
  width: 80%;
  margin-top: 63px;
  margin-right: auto;
  justify-items: start;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  grid-auto-columns: 1fr;
  grid-column-gap: 16px;
  grid-row-gap: 16px;
  -ms-grid-columns: 1fr 1fr 1fr 1fr;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  -ms-grid-rows: auto;
  grid-template-rows: auto;
}

.intro-section_nav-container-desktop {
  position: relative;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  max-width: 90%;
  margin-right: auto;
  margin-left: auto;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.flex-center {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.intro-section_h1 {
  font-family: Epilogue, sans-serif;
  color: #000;
  font-size: 5rem;
}

.intro-section_btn {
  padding: 0.7rem 1.4rem 0.6rem;
  border: 0.065rem solid #000;
  border-radius: 0.7rem;
  background-color: #000;
  -webkit-transition: all 400ms ease;
  transition: all 400ms ease;
  font-size: 0.9rem;
  font-weight: 500;
}

.intro-section_btn:hover {
  background-color: #fff;
  color: #141414;
  font-weight: 500;
}

.paragraph {
  color: #696969;
}

.intro-section_dropdown-icon {
  width: 1rem;
  height: 1rem;
}

.intro-section_dropdown-link {
  position: relative;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  overflow: hidden;
  padding: 0.2rem 1.5rem;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  border-radius: 8px;
  -webkit-transition: all 350ms ease;
  transition: all 350ms ease;
  color: #00104b;
  text-decoration: none;
}

.intro-section_dropdown-link:hover {
  color: #fff;
}

.chevron {
  margin-right: 5px;
}

.intro-section_nav-mobile-dropdown1-list.w--open {
  margin-top: 16%;
  margin-left: -60%;
  background-color: transparent;
}

.intro-section_dropdown-link-grid {
  width: 100%;
  grid-auto-flow: row;
  grid-column-gap: 0rem;
  grid-row-gap: 0rem;
  -ms-grid-columns: 1fr;
  grid-template-columns: 1fr;
  -ms-grid-rows: auto auto auto auto;
  grid-template-rows: auto auto auto auto;
}

.intro-section_dropdown-title {
  margin-left: 1rem;
  -webkit-box-flex: 0;
  -webkit-flex: 0 0 auto;
  -ms-flex: 0 0 auto;
  flex: 0 0 auto;
  font-family: Epilogue, sans-serif;
  color: #696969;
  font-size: 0.9rem;
  font-weight: 500;
}

.intro-section_dropdown-title:hover {
  color: #141414;
}

.intro-section_dropdown-base-wrap {
  position: relative;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin: -1rem 0px 0px;
  padding: 0px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  border-radius: 0.7rem;
  background-color: #fafafa;
  box-shadow: 0 0 20px 5px rgba(0, 0, 0, 0.15);
}

.intro-section_dropdown-base-wrap.w--open {
  left: -97px;
  max-height: 100vh;
  min-width: 300px;
  border-radius: 15px;
  background-color: #fff;
  box-shadow: 0 50px 25px -50px rgba(32, 53, 90, 0.15), 8px 18px 60px 4px rgba(0, 0, 0, 0.13);
}

.intro-section_dropdown-link-base {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  padding: 1rem 0rem;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
  -ms-flex-align: start;
  align-items: flex-start;
}

.intro-section_nav-mobile-dropdown2-toggle {
  padding-right: 2rem;
  padding-left: 0rem;
  -webkit-transition: all 200ms ease;
  transition: all 200ms ease;
  color: #696969;
  font-size: 1rem;
  font-weight: 500;
}

.intro-section_nav-mobile-dropdown2-toggle:hover {
  color: #141414;
}

.intro-section_nav-mobile-dropdown1 {
  position: relative;
  margin-right: 0px;
  margin-left: 0px;
  -webkit-transition: all 400ms ease;
  transition: all 400ms ease;
}

.display-flex {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
}

.intro-section_nav-mobile-dropdown2 {
  position: relative;
  overflow: visible;
  margin-right: 0px;
  margin-left: 0px;
  -webkit-transition: all 400ms ease;
  transition: all 400ms ease;
}

.intro-section_nav-mobile-dropdown2-list.w--open {
  min-width: 8rem;
  margin-top: 16%;
  margin-left: 0%;
  background-color: transparent;
}

.intro-section_header-image-desktop {
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
  object-fit: contain;
}

.intro-section_header-image-mobile {
  display: none;
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
  object-fit: contain;
}

.intro-section_menu-button {
  display: none;
}

.home_header-warp {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  height: 100vh;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.heading {
  text-align: center;
}

.nav_menu {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.nav_blank-space {
  height: 5.3rem;
}

.nav_menu-wrapper {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.nav_component {
  position: fixed;
  left: 0%;
  top: 0%;
  right: 0%;
  bottom: auto;
  z-index: 100;
  padding: 1rem 2.5rem;
  background-color: #fff;
}

.nav_logo {
  height: 1.5rem;
}

.nav_links-list {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.nav_login-wrap {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.nav_container {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  max-width: 1440px;
  margin-right: auto;
  margin-left: auto;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.nav_link {
  overflow: hidden;
  padding: 0.25rem 1.25rem;
  font-family: Epilogue, sans-serif;
  color: #696969;
  font-weight: 500;
}

.nav_link:hover {
  color: #141414;
}

.nav_link.is-mobile {
  display: none;
}

.nav_dropdown-toggle {
  font-family: Epilogue, sans-serif;
  color: #696969;
}

.nav_dropdown-toggle:hover {
  color: #141414;
  font-weight: 500;
}

.nav_dropdown-list-with-icons {
  border-radius: 1rem;
  background-color: #fff;
  box-shadow: 0 5px 20px -3px rgba(20, 20, 20, 0.4);
}

.nav_dropdown-list-with-icons.w--open {
  right: 19%;
  padding: 1rem 1.3rem 1rem 1rem;
  border-radius: 0.6rem;
}

.nav_dropdown-link {
  padding: 0px;
  text-decoration: none;
}

.nav_dropdown-link-text {
  color: #696969;
}

.nav_dropdown-link-text:hover {
  color: #141414;
}

.nav_dropdown-link-wrap-wrapper {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.nav_dropdown-link-wrap {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  height: 2.25rem;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  color: #170f49;
  line-height: 20px;
  font-weight: 500;
}

.nav_dropdown-icon-wrap {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 36px;
  height: 36px;
  margin-right: 8px;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.nav_dropdown-list {
  border-radius: 1rem;
  background-color: #fff;
  box-shadow: 0 5px 20px -3px rgba(20, 20, 20, 0.4);
}

.nav_dropdown-list.w--open {
  left: 17%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  padding: 1rem;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  border-radius: 0.6rem;
}

@media screen and (max-width: 991px) {
  .hide-tablet {
    display: none;
  }

  .fs-styleguide_section {
    grid-column-gap: 2.5rem;
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr;
  }

  .align-center {
    position: absolute;
    left: auto;
    top: auto;
    right: auto;
    bottom: 0%;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
  }

  .spacing-clean {
    margin: 0rem;
    padding: 0rem;
  }

  .show-tablet {
    display: block;
  }

  .max-width-full-tablet {
    width: 100%;
    max-width: none;
  }

  .margin-medium {
    margin: 1.5rem;
  }

  .margin-large {
    margin: 2.5rem;
  }

  .margin-xlarge {
    margin: 3rem;
  }

  .margin-xxlarge {
    margin: 4rem;
  }

  .margin-huge {
    margin: 5rem;
  }

  .margin-xhuge {
    margin: 6rem;
  }

  .margin-xxhuge {
    margin: 8rem;
  }

  .padding-medium {
    padding: 1.5rem;
  }

  .padding-large {
    padding: 2.5rem;
  }

  .padding-xlarge {
    padding: 3rem;
  }

  .padding-xxlarge {
    padding: 4rem;
  }

  .padding-huge {
    padding: 5rem;
  }

  .padding-xhuge {
    padding: 6rem;
  }

  .padding-xxhuge {
    padding: 8rem;
  }

  .margin-top {
    margin-right: 0rem;
    margin-bottom: 0rem;
    margin-left: 0rem;
  }

  .margin-bottom {
    margin-top: 0rem;
    margin-right: 0rem;
    margin-left: 0rem;
  }

  .margin-left {
    margin-top: 0rem;
    margin-right: 0rem;
    margin-bottom: 0rem;
  }

  .margin-right {
    margin-top: 0rem;
    margin-bottom: 0rem;
    margin-left: 0rem;
  }

  .margin-vertical {
    margin-right: 0rem;
    margin-left: 0rem;
  }

  .margin-horizontal {
    margin-top: 0rem;
    margin-bottom: 0rem;
  }

  .padding-top {
    padding-right: 0rem;
    padding-bottom: 0rem;
    padding-left: 0rem;
  }

  .padding-bottom {
    padding-top: 0rem;
    padding-right: 0rem;
    padding-left: 0rem;
  }

  .padding-left {
    padding-top: 0rem;
    padding-right: 0rem;
    padding-bottom: 0rem;
  }

  .padding-right {
    padding-top: 0rem;
    padding-bottom: 0rem;
    padding-left: 0rem;
  }

  .padding-vertical {
    padding-right: 0rem;
    padding-left: 0rem;
  }

  .padding-horizontal {
    padding-top: 0rem;
    padding-bottom: 0rem;
  }

  .navigation {
    position: relative;
  }

  .intro-section_nav-right-wrap {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
  }

  .intro-section_nav-links-wrap {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
  }

  .intro-section_nav-link.is-cta {
    margin-top: 1.5rem;
    margin-left: 0rem;
    padding-right: 4rem;
    padding-left: 4rem;
  }

  .intro-section_header-grid {
    max-width: none;
  }

  .intro-section_client-grid {
    width: 100%;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
  }

  .intro-section_nav-container-desktop {
    display: none;
  }

  .intro-section_h1 {
    font-size: 2.6rem;
  }

  .intro-section_btn {
    margin-top: 0px;
    margin-bottom: 1rem;
    padding: 0.5rem 1rem;
  }

  .paragraph {
    font-size: 0.8rem;
  }

  .chevron {
    margin-right: 0.5rem;
  }

  .intro-section_nav-mobile-dropdown1-list.w--open {
    position: relative;
    left: auto;
    width: 100%;
    min-width: auto;
    padding-top: 0px;
  }

  .intro-section_dropdown-title {
    padding: 0.5rem 0px 0px 1.5rem;
  }

  .intro-section_dropdown-base-wrap {
    border-radius: 0px;
    box-shadow: none;
  }

  .intro-section_dropdown-link-base {
    padding: 0.5rem 20px 0px 0px;
  }

  .intro-section_nav-mobile-dropdown2-toggle {
    width: 100%;
    padding-left: 16px;
  }

  .intro-section_nav-mobile-dropdown2-toggle.w--open {
    width: 100%;
  }

  .intro-section_nav-mobile-dropdown1 {
    margin-right: 0px;
    margin-left: 0px;
  }

  .intro-section_nav-mobile-dropdown2 {
    margin-right: 0px;
    margin-left: 0px;
  }

  .intro-section_nav-mobile-dropdown2-list.w--open {
    position: relative;
    left: auto;
    width: 100%;
    min-width: auto;
    padding-top: 0px;
  }

  .intro-section_menu-button {
    position: absolute;
    left: auto;
    top: 30%;
    right: 5%;
    bottom: auto;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    width: 2rem;
  }

  .intro-section_menu-button.w--open {
    background-color: transparent;
  }

  .intro-section_nav-close-icon {
    position: relative;
    z-index: 3;
    display: none;
    height: 1.5rem;
    cursor: pointer;
  }

  .intro-section_nav-open-icon {
    position: absolute;
    z-index: 999;
    display: block;
    height: 1.5rem;
    cursor: pointer;
  }

  .nav_menu {
    width: 60%;
    height: 100vh;
    margin-left: auto;
    padding-right: 4rem;
    padding-left: 4rem;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    background-color: #fff;
  }

  .nav_menu-button {
    position: relative;
    z-index: 2;
    padding: 0.5rem;
  }

  .nav_menu-button.w--open {
    background-color: transparent;
  }

  .nav_menu-icon {
    width: 2rem;
    height: 2rem;
    -webkit-transition: all 200ms ease;
    transition: all 200ms ease;
  }

  .nav_menu-icon:hover {
    -webkit-transform: scale(1.05);
    -ms-transform: scale(1.05);
    transform: scale(1.05);
  }

  .nav_blank-space {
    height: 5.1rem;
  }

  .nav_menu-wrapper {
    overflow: auto;
    width: 100%;
    max-height: 100vh;
    background-color: rgba(20, 20, 20, 0.85);
  }

  .nav_links-list {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    margin-top: 6rem;
    margin-right: auto;
    margin-bottom: 4rem;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: start;
    -webkit-align-items: flex-start;
    -ms-flex-align: start;
    align-items: flex-start;
  }

  .nav_login-wrap {
    margin-bottom: auto;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
  }

  .nav_container {
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between;
  }

  .nav_link {
    padding-top: 0.75rem;
    padding-bottom: 0.75rem;
  }

  .nav_link.is-mobile {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: stretch;
    -webkit-align-items: stretch;
    -ms-flex-align: stretch;
    align-items: stretch;
    cursor: pointer;
  }

  .nav_dropdown-icon.is-mobile {
    margin-left: 1rem;
  }

  .nav_dropdown {
    display: none;
  }

  .nav_dropdown-toggle-mobile {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
  }

  .nav_dropdown-list-mobile-with-icons {
    display: none;
    margin-top: 1rem;
    margin-left: 0.9rem;
  }

  .nav_dropdown-list-mobile {
    display: none;
    margin-top: 1rem;
    margin-left: 1.4rem;
  }
}

@media screen and (max-width: 767px) {
  h1 {
    font-size: 2.5rem;
  }

  h2 {
    font-size: 2rem;
  }

  h3 {
    font-size: 1.5rem;
  }

  h4 {
    font-size: 1rem;
  }

  .fs-styleguide_row.is-for-social-icons {
    -ms-grid-rows: auto auto;
    grid-template-rows: auto auto;
  }

  .fs-styleguide_3-col {
    -ms-grid-columns: 1fr 1fr;
    grid-template-columns: 1fr 1fr;
  }

  .fs-styleguide_color-sample {
    padding: 2.5rem 2rem;
  }

  .heading-medium {
    font-size: 1.5rem;
  }

  .heading-large {
    font-size: 2rem;
  }

  .text-size-large {
    font-size: 1.25rem;
  }

  .fs-styleguide_section-type {
    font-size: 0.875rem;
  }

  .heading-xlarge {
    font-size: 2.5rem;
  }

  .hide-mobile-landscape {
    display: none;
  }

  .spacing-clean {
    margin: 0rem;
    padding: 0rem;
  }

  .page-padding {
    padding-right: 1.25rem;
    padding-left: 1.25rem;
  }

  .page-padding.is-mobile {
    padding-right: 0rem;
    padding-left: 0rem;
  }

  .show-mobile-landscape {
    display: block;
  }

  .max-width-full-mobile-landscape {
    width: 100%;
    max-width: none;
  }

  .margin-medium {
    margin: 1.25rem;
  }

  .margin-large {
    margin: 1.5rem;
  }

  .margin-xlarge {
    margin: 2rem;
  }

  .margin-xxlarge {
    margin: 3rem;
  }

  .margin-huge {
    margin: 3.5rem;
  }

  .margin-xhuge {
    margin: 4rem;
  }

  .margin-xxhuge {
    margin: 4.5rem;
  }

  .padding-medium {
    padding: 1.25rem;
  }

  .padding-large {
    padding: 1.5rem;
  }

  .padding-xlarge {
    padding: 2rem;
  }

  .padding-xxlarge {
    padding: 3rem;
  }

  .padding-huge {
    padding: 3.5rem;
  }

  .padding-xhuge {
    padding: 4rem;
  }

  .padding-xxhuge {
    padding: 4.5rem;
  }

  .margin-top {
    margin-right: 0rem;
    margin-bottom: 0rem;
    margin-left: 0rem;
  }

  .margin-top.margin-large {
    text-align: center;
  }

  .margin-bottom {
    margin-top: 0rem;
    margin-right: 0rem;
    margin-left: 0rem;
  }

  .margin-left {
    margin-top: 0rem;
    margin-right: 0rem;
    margin-bottom: 0rem;
  }

  .margin-right {
    margin-top: 0rem;
    margin-bottom: 0rem;
    margin-left: 0rem;
  }

  .margin-vertical {
    margin-right: 0rem;
    margin-left: 0rem;
  }

  .margin-horizontal {
    margin-top: 0rem;
    margin-bottom: 0rem;
  }

  .padding-top {
    padding-right: 0rem;
    padding-bottom: 0rem;
    padding-left: 0rem;
  }

  .padding-bottom {
    padding-top: 0rem;
    padding-right: 0rem;
    padding-left: 0rem;
  }

  .padding-left {
    padding-top: 0rem;
    padding-right: 0rem;
    padding-bottom: 0rem;
  }

  .padding-right {
    padding-top: 0rem;
    padding-bottom: 0rem;
    padding-left: 0rem;
  }

  .padding-vertical {
    padding-right: 0rem;
    padding-left: 0rem;
  }

  .padding-horizontal {
    padding-top: 0rem;
    padding-bottom: 0rem;
  }

  .text-style-nowrap {
    white-space: normal;
  }

  .heading-small {
    font-size: 1rem;
  }

  .fs-styleguide_version-details {
    font-size: 0.875rem;
  }

  .fs-styleguide_page-header {
    margin-bottom: 0rem;
    padding-top: 2rem;
    padding-bottom: 2rem;
  }

  .intro-section_header-grid {
    margin-top: 0rem;
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr;
  }

  .intro-section_client-grid {
    width: 90%;
    margin-right: auto;
    margin-left: auto;
    justify-items: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
  }

  .intro-section_h1 {
    text-align: center;
  }

  .paragraph {
    text-align: center;
  }

  .intro-section_dropdown-link-base {
    padding-top: 20px;
    padding-bottom: 20px;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
  }

  .intro-section_header-image-desktop {
    display: none;
  }

  .intro-section_header-image-mobile {
    display: block;
    height: 492.546875px;
    -o-object-fit: contain;
    object-fit: contain;
  }

  .test-span {
    display: none;
  }

  .intro-section_menu-button {
    top: 30%;
    right: 5%;
  }

  .nav_menu {
    width: 60%;
    margin-left: auto;
  }

  .nav_blank-space {
    height: 4.05rem;
  }

  .nav_menu-wrapper {
    width: 100%;
  }

  .nav_component {
    padding: 0.5rem 1.5rem;
  }
}

@media screen and (max-width: 479px) {
  .show-mobile-portrait {
    display: block;
  }

  .hide-mobile-portrait {
    display: none;
  }

  .container-large.is-mobile {
    margin-right: 0px;
    margin-left: 0px;
  }

  .spacing-clean {
    margin: 0rem;
    padding: 0rem;
  }

  .page-padding.is-mobile {
    padding-right: 0rem;
    padding-left: 0rem;
  }

  .fs-styleguide_2-col {
    -ms-grid-columns: auto;
    grid-template-columns: auto;
  }

  .margin-top {
    margin-right: 0rem;
    margin-bottom: 0rem;
    margin-left: 0rem;
  }

  .margin-bottom {
    margin-top: 0rem;
    margin-right: 0rem;
    margin-left: 0rem;
  }

  .margin-left {
    margin-top: 0rem;
    margin-right: 0rem;
    margin-bottom: 0rem;
  }

  .margin-right {
    margin-top: 0rem;
    margin-bottom: 0rem;
    margin-left: 0rem;
  }

  .margin-vertical {
    margin-right: 0rem;
    margin-left: 0rem;
  }

  .margin-horizontal {
    margin-top: 0rem;
    margin-bottom: 0rem;
  }

  .padding-top {
    padding-right: 0rem;
    padding-bottom: 0rem;
    padding-left: 0rem;
  }

  .padding-bottom {
    padding-top: 0rem;
    padding-right: 0rem;
    padding-left: 0rem;
  }

  .padding-left {
    padding-top: 0rem;
    padding-right: 0rem;
    padding-bottom: 0rem;
  }

  .padding-right {
    padding-top: 0rem;
    padding-bottom: 0rem;
    padding-left: 0rem;
  }

  .padding-vertical {
    padding-right: 0rem;
    padding-left: 0rem;
  }

  .padding-horizontal {
    padding-top: 0rem;
    padding-bottom: 0rem;
  }

  .max-width-full-mobile-portrait {
    width: 100%;
    max-width: none;
  }

  .intro-section_nav-link.is-cta {
    padding-right: 2rem;
    padding-left: 2rem;
  }

  .intro-section_client-grid {
    width: 90%;
    margin-right: auto;
    margin-left: auto;
    justify-items: center;
    -ms-grid-columns: 1fr 1fr;
    grid-template-columns: 1fr 1fr;
    -ms-grid-rows: auto auto;
    grid-template-rows: auto auto;
  }

  .intro-section_nav-container-desktop {
    margin-top: 0.5rem;
    margin-right: 0px;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
  }

  .intro-section_h1 {
    font-size: 1.8rem;
  }

  .intro-section_dropdown-link-grid {
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr;
  }

  .intro-section_dropdown-link-base {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
  }

  .intro-section_header-image-desktop {
    display: none;
  }

  .intro-section_header-image-mobile {
    height: auto;
  }

  .intro-section_menu-button {
    top: 30%;
    right: 7%;
    margin-right: -0.6rem;
    padding: 0px;
  }

  .intro-section_nav-open-icon {
    margin-right: 0.5rem;
  }

  .nav_menu {
    width: 65%;
    margin-left: auto;
    padding-right: 1.25rem;
    padding-left: 1.25rem;
  }

  .nav_menu-wrapper {
    width: 100%;
  }

  .nav_dropdown-list-mobile-with-icons {
    display: block;
    margin-left: 0rem;
  }
}

#w-node-eb9aec02-b563-6071-07af-d8b78125198e-3ccad47b {
  -ms-grid-column: span 1;
  grid-column-start: span 1;
  -ms-grid-column-span: 1;
  grid-column-end: span 1;
  -ms-grid-row: span 1;
  grid-row-start: span 1;
  -ms-grid-row-span: 1;
  grid-row-end: span 1;
}

#w-node-_6dcf906f-4865-bd25-5093-6efe87764961-3ccad47b {
  -ms-grid-column: span 1;
  grid-column-start: span 1;
  -ms-grid-column-span: 1;
  grid-column-end: span 1;
  -ms-grid-row: span 1;
  grid-row-start: span 1;
  -ms-grid-row-span: 1;
  grid-row-end: span 1;
}

#w-node-b57a4ad8-8d90-d3de-0009-938aa6dbe932-3ccad47b {
  -ms-grid-column: span 1;
  grid-column-start: span 1;
  -ms-grid-column-span: 1;
  grid-column-end: span 1;
  -ms-grid-row: span 1;
  grid-row-start: span 1;
  -ms-grid-row-span: 1;
  grid-row-end: span 1;
}

#w-node-ac9c2c52-7503-283b-0a65-529a14269f53-3ccad47b {
  -ms-grid-column: span 1;
  grid-column-start: span 1;
  -ms-grid-column-span: 1;
  grid-column-end: span 1;
  -ms-grid-row: span 1;
  grid-row-start: span 1;
  -ms-grid-row-span: 1;
  grid-row-end: span 1;
}

@media screen and (max-width: 767px) {
  #w-node-_68ade4f7-3bb8-158a-8d97-cc58aa92c4c6-3ccad47b {
    -ms-grid-column-span: 1;
    grid-column-end: 2;
    -ms-grid-column: 1;
    grid-column-start: 1;
    -ms-grid-row-span: 1;
    grid-row-end: 2;
    -ms-grid-row: 1;
    grid-row-start: 1;
  }
}

@font-face {
  font-family: 'Outfit';
  src: url('../fonts/Outfit-Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Outfit';
  src: url('../fonts/Outfit-Bold.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Epilogue';
  src: url('../fonts/Epilogue-Medium.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Epilogue';
  src: url('../fonts/Epilogue-Bold.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}